@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #f0d4d4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.banner {
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.banner::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('/images/image_1.jpg');
  background-position: center;
  background-size: cover;
  z-index: -1;
  mask-image: url('/images/ink_1.gif');
  mask-size: cover;
  mask-position: center;
}
summary {
  /* list-style-type: '⬇ '; */
  display: flex;
  justify-content: space-between;
}
summary::after {
  content: '';
  width: 18px;
  height: 15px;
  background: url('/images/chevron-down.png');
  background-size: cover;
  margin-left: 0.75em;
  transition: 0.2s;
}

details[open] > summary::after {
  transform: rotate(180deg);
}
